
body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
}


.Calculator {
  background-color: #22252d;
  padding: 20px;
  border-radius: 20px; 
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2); 
  width: 320px;
 
  
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px; 
}

/* Верхний экран (история) */
.altscreen {
  grid-column: span 4;
  background-color: #22252d;
  color: rgb(130, 129, 129);
  font-size: 1.2rem; 
  text-align: right;
  
 
  padding: 5px 20px 0px 20px; 
  border-radius: 10px 10px 0 0; 
  min-height: 25px; 
  overflow-wrap: break-word; 
}


.screen {
  grid-column: span 4;
  background-color: #22252d;
  color: white;
  font-size: 3rem;
  text-align: right;

  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;
  

  padding: 0px 20px 20px 20px; 
  border-radius: 0 0 10px 10px; 
  margin-bottom: 10px;
  
  min-height: 50px;
  overflow-wrap: break-word; 
}


.Calculator button {
  background-color: #272b33;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 20px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s; /* Плавность при наведении */
}


.Calculator button:hover {
  background-color: #3a3f4b;
}


.Calculator button:active {
  transform: scale(0.95);
}

.Calculator button:last-child {
  grid-column: span 1; 
  background-color: #eb6666;
}
.Calculator button:last-child:hover {
  background-color: #fc7474;
}

/* Правила внутри этого блока сработают только если ширина экрана 400px или меньше */
@media (max-width: 440px) {
  body {
    padding: 0; 
  }
  
    .screen::-webkit-scrollbar,
.altscreen::-webkit-scrollbar {
  display: none;
}

.screen, .altscreen {
  overflow-x: auto;          
  scrollbar-width: none;     
  -ms-overflow-style: none;  
  user-select: none;  
  background-color: #22252d;
         
}
  
  
  .Calculator {
    max-width: 100%; /* Разрешаем растянуться на весь телефон */
    height: 100vh;   /* Занимаем 100% высоты экрана */
    border-radius: 0; /* Убираем закругленные углы */
    box-shadow: none; /* Убираем тень */
    align-content: end; /* Прижимаем кнопки к низу экрана */
  }
}